.your-turn-x,
.your-turn-o {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  to {
    transform: scale(1.2, 1.2);
  }
}


@keyframes forward {
  to {
    transform: scale(2, 2);
  }
  
}

@keyframes changingColor {
  0% {
    color: rgb(255, 44, 143);
  }
  100% {
    color: rgb(51, 173, 255);
  }
}

